.content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  z-index: 1;

  &__grid {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    width: auto;
    padding: 0 2rem;
    @include grid();

    @include rwd(tablet) {
      position: static;
      margin-top: 20%;
      padding: 0;
    }
  }

  &__about {
    grid-column: 16 / 28;

    border-top: 1px solid $c-text;
    padding-top: 1.6rem;

    line-height: 1.3;
    margin-bottom: 10vh;

    @include fluid-font(1.2, 1.8);
    @include fluid-spacing('max-width', 160, 360);

    @include rwd(tablet) {
      grid-column: 7 / 13;
    }
  }

  &__dates {
    @include fluid-font(4, 9.6);
    font-weight: 100;
    letter-spacing: -0.192rem;
    text-transform: uppercase;

    span {
      display: inline-block;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    background-color: $c-black;
    font-family: $f-second;
    font-size: 17.6vw;
    padding-top: calc(3.05vw + 2rem);
    padding-bottom: 2rem;
    line-height: .55;
    text-transform: uppercase;
    @include fluid-spacing('gap', 5, 30);

    @include rwd(tablet) {
      flex-wrap: wrap;
      font-size: 20vw;
      padding-top: calc(1.7vw + 2rem);
      line-height: .75;
    }
  }
}