.grid {
  position: fixed;
  z-index: 101;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 100vh;
  width: 100%;
  mix-blend-mode: luminosity;
  pointer-events: none;

  @include grid();

  &__cell {
    background-color: $c-text;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}