.grid {
  padding-top: 100vh;
  padding-top: 100lvh; // mobile CLS fix
  padding-bottom: 100vh;
  padding-bottom: 100lvh; // mobile CLS fix

  @include grid();
}

.image {
  position: relative;
  cursor: pointer;
  font-size: 1.4rem;
  z-index: 2;

  img {
    width: 100%;
    height: auto;
    max-height: 90vh;
  }

  &[data-size="small"] {
    grid-column: span 6;
    @include rwd(tablet) {
      grid-column: span 3;
    }
    @include rwd(mobile) {
      grid-column: span 6;
    }
  }

  &[data-size="medium"] {
    grid-column: span 10;
    @include rwd(tablet) {
      grid-column: span 4;
    }
    @include rwd(mobile) {
      grid-column: span 6;
    }
  }

  &[data-size="large"] {
    grid-column: span 15;
    @include rwd(tablet) {
      grid-column: span 12;
      margin-top: 0 !important;
    }
  }

  &__hover {
    @include rwd(mobile) {
      display: none;
    }
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    > * {
      font-weight: 500;
      letter-spacing: -0.018rem;
      text-transform: uppercase;
      color: $c-black;
      background-color: $c-text;
      @include fluid-spacing('padding', 5, 10);
    }

    &:hover {
      opacity: 1;
    }
  }
}

.spacing {
  &[data-size="small"] {
    grid-column: span 2;
    @include rwd(tablet) {
      grid-column: span 6;
    }
  }

  &[data-size="medium"] {
    grid-column: span 3;
    @include rwd(tablet) {
      grid-column: span 6;
    }
  }

  &[data-size="large"] {
    grid-column: span 4;
    @include rwd(tablet) {
      grid-column: span 6;
    }
  }
}