.popup {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  background-color: $c-preloader-bg;
  color: $c-black;

  &__bg {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
  }

  &__author {
    flex: 1 1 40rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 30% 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "role role"
      "image name"
      "image socials";

    &Image {
      grid-area: image;

      img {
        aspect-ratio: 1/1;
        height: auto;
        object-fit: cover;
      }
    }

    &Role {
      grid-area: role;
      border-top: 1px solid currentColor;
      padding-top: .5rem;
      font-size: 3rem;
      letter-spacing: -0.3px;
      margin-bottom: 3rem;
    }

    &Name {
      grid-area: name;
      font-family: $f-second;
      font-size: 6vw;
      text-transform: uppercase;
      line-height: .8;
      margin-top: .4rem;
      @include rwd(tablet) {
        font-size: 10vw;
      }
    }

    &Socials {
      grid-area: socials;
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      align-items: flex-end;
      @include rwd(tablet) {
        align-self: flex-end;
        align-items: flex-start;
        flex-direction: column;
        gap: .8rem;
      }
    }
  }
}