a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: $f-prim;
  color: $c-text;
  font-size: $fs-base;
  background: $c-page-color;

  &::-webkit-scrollbar {
    display: none;
  }
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 2rem;
}