.preloader {
  color: $c-black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  padding: 2rem;
  font-size: 1.8rem;

  &__layer {
    position: absolute;
    background: $c-preloader-bg;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__indicator {
    text-transform: uppercase;
    margin-top: auto;
  }
  &__loader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    text-align: right;
    height: 100%;
  }
  &__digit {
    @include fluid-font(14, 20);
    font-weight: 900;
    overflow: hidden;
    opacity: 0;
  }
  &__overflow {
    overflow: hidden;
  }
}