.navbar {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba($c-black, .9);
  border-bottom: 1px solid $c-text;
  padding: 2rem 2rem 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  
  &__label {
    text-transform: uppercase;
    @include fluid-font(1.4, 1.8);
    line-height: 1.4;
  }
}