.footer {
  padding: 2rem;

  &__grid {
    @include grid();
  }

  &__column {
    grid-column: span 10;
    @include rwd(laptop-small) {
      grid-column: span 15;
    }
    @include rwd(tablet) {
      grid-column: span 12;
    }
  }

  &__title {
    @include fluid-font(1.2, 1.4);
    @include fluid-spacing('margin-bottom', 20, 40);
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 1rem;
    border-bottom: 1px solid $c-text;
  }

  &__list,
  &__singleList {
    @include fluid-font(1.2, 1.4);
    line-height: 1.5;
    display: grid;
    gap: 1.6rem;
    text-transform: uppercase;
  }

  &__list {
    grid-template-columns: repeat(2, 1fr);
    @include rwd(mobile) {
      grid-template-columns: 1fr;
    }
  }
}