$c-page-color: #111;
$c-white: #ffffff;
$c-black: #111;
$c-text: #FFF500;
$c-preloader-bg: #FFF500;
$c-selection: #fff;

$width: 1258px;
$width-unitless: 1258;
$padding: 71;

$trS: .1s ease-in-out;
$tr: .2s ease-in-out;
$trM: .3s ease-in-out;
$trL: .5s ease-in-out;

$f-prim: 'Neue Montreal', sans-serif;
$f-second: 'Thunder', sans-serif;
$fs-base: 1.6rem;