$c-page-color: #111;
$c-white: #ffffff;
$c-text: #FFF500;
$c-selection: #fff;

$width: 1458px;
$width-unitless: 1458;
$padding: 71;

$trS: .1s ease-in-out;
$tr: .2s ease-in-out;
$trM: .3s ease-in-out;
$trL: .5s ease-in-out;

$f-prim: 'Inter', sans-serif;
$fs-base: 1.6rem;