.switcher {
  position: relative;
  display: flex;
  gap: .8rem;
  cursor: pointer;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  input:checked + &__switch {
    background-color: $c-text;

    &:before {
      transform: translateX(1.2rem);
      background-color: $c-black;
    }
  }

  &__label {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__switch {
    position: relative;
    width: 3.2rem;
    height: 2rem;
    border: 1px solid $c-text;
    transition: $trM;
    flex-shrink: 0;

    &:before {
      position: absolute;
      content: "";
      width: 1.2rem;
      left: 3px;
      top: 3px;
      bottom: 3px;
      background-color: $c-text;
      transition: $trM;
    }
  }
}